<h2>Get Paid To Write!</h2>
<h3>Write on <u>any subject</u> and get paid for it.</h3>

<div class="values">
	<h5>Make Money</h5>
	<p>Get paid for every article your write.</p>
     
  <h5>More Page Views</h5>
  <p>The more people read your article the more money you make.</p>
  
  <h5>Create A Brand</h5>
  <p>link back to your own personal blog and get more page views!</p>
</div>

<%= render 'form' %>