<div class="dialog">
  <h2>You Caught Us Before We are Ready!</h2>
  <br />
  <h3>We're working hard to put the finishing touches on our application. Things are going well and it should be ready to help you make money soon! We will reach out to you when we are ready to go</h3>
</div>
